body, html {
    font-family: 'Lato', sans-serif !important;
}

.font-title {
    font-family: 'Libre Baskerville', serif !important;
}

.filter-gray {
    filter: grayscale(50%);
}

.filter-gray:hover {
    filter: grayscale(0%);
}